###
# kubernetes system config
#
# The following values are used to configure the kubernetes controller-manager

# Location of the kubernetes master api server
KUBE_MASTER="{{ groups['masters'][0] }}:8080"
