###
# The following values are used to configure the kubernetes controller-manager

# defaults from config and apiserver should be adequate

{% if is_aws %}

# AWS related options
KUBE_CONTROLLER_MANAGER_ARGS="--cloud_provider=aws --sync_nodes=true --cloud_config=/etc/aws.conf --minion_regexp='{{ kube_aws_cluster_name }}-minion.*'"

# Location of AWS credentials
AWS_CREDENTIAL_FILE="/etc/aws/credentials"

{% else %}

# Add you own!
KUBE_CONTROLLER_MANAGER_ARGS=""

{% endif %}
